<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="Jackson_J">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>武林书画学院</title>
	 <!--引入公共资源-->
	 <div th:replace="common/taglib::#commonScript"></div>
  <link rel="stylesheet"  th:href="@{/asserts/css/login.css}"/>
<!--
<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
	 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
-->
 </head>
 <body>
	<div id="loginbox">
		<form id="loginform" action="" method="post">
			<div class="normal_text"> <h3><img th:src="@{/asserts/images/logo.png}" src="images/logo.png" alt="Logo">管理后台</h3></div>
			<div class="control-group">
				<div class="controls">
					<div class="main_input_box">
						<span class="add-on bg_lg"><i class="fa fa-user"></i></span><input type="text" id="account" placeholder="请输入账号...">
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<div class="main_input_box">
						<span class="add-on bg_ly"><i class="fa fa-lock"></i></span><input id="password" type="password" placeholder="请输入密码...">
					</div>
				</div>
			</div>
			<div class="control-group" id="codebox" style="display:none">
				<div class="controls">
					<div class="main_input_box" style="position:relative">
						<span class="add-on bg_ly"><i class="fa fa-coffee"></i></span><input type="text" id="code" maxlength="4" autocomplete="off" placeholder="请输入验证码">
						<img  id ="imgcode" alt="验证码" th:src="@{/kaptcha/code}" th:onclick="|flushCode()|" />
					</div>
				</div>
			</div>
			<div class="form-actions">
				<span><a type="submit" href="javascript:void(0);" onclick="An_login(this)" class="btn btn-success jslogin">登陆</a></span>
				<p>&copy-wuLin 1.0</p>
			</div>
		</form>
	</div>
	<script type="text/javascript" th:src="@{/asserts/js/login.js}"></script>
 </body>
</html>
