button {
    height: 24px;
    width: auto;
    background: rgba(0,0,0,0);
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}
button:active {
    background: #eee;
}