.btn {
    height: 24px;
    width: auto;
    background: rgba(0,0,0,0);
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}
.btn:active {
    background: #eee;
    color: #aaa;
}
.btn:disabled {
    background: #eee;
    color: #aaa;
}
.btn-ok {
    background: #90ee7f;
    border: #90ee90;
    color: #008a00;
}
.btn-ok:active {
    background-color: #90ee7f96;
    color: #008a0096;
}