server:
  port: 9000
logging:
  path: ./log
  level:
    ROOT: info
    controller: debug
    org:
      springframework:
        security: debug
        web: error
        jdbc: debug
    com.alibaba.druid: debug
spring:
  application:
    name: wulinacademy
  profiles:
    active: dev
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/xxxxxx?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT%2B8
    username: xxxxx
    password: xxxxx
  http:
    encoding:
      charset: UTF-8
  messages:
    encoding: UTF-8
  security:
    debug: false
---
cors:
  allow-origin: '*'

location:
  assets: ./assets/
  images: ${location.assets}images/

upload:
    image:
      max-size: 2097152